//
// Playground component
// --------------------------------------------------

.playground-wrapper {
	padding: 50px;

	.spectrum {
		border: 1px solid #ccc;
		border-radius: 2px;
		width: 100%;
		height: 200px;
	}

	.swicher {
		padding: 10px;
		width: 100%;
		text-align: center;
	}
}
